<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
	<div style="margin-top: 50px;" class="ui container">


		<h1 class="ui center aligned header">Todo App</h1>

		<form class="ui form" action="/add" method="post">

			<div class="field">
				<label for="title"></label>
				<input type="text" name="title" placeholder="Task Name">
			</div>

			<div class="field">
				<label for="desc"></label>
				<input type="text" name="desc" placeholder="Description">
			</div>

			<div>
				<select name="category">
					<option value="work">Work</option>
					<option value="study">Study</option>
					<option value="hobby">Hobby</option>
					<option value="others">Others</option>
				</select>

			</div>
			<br>
			<button class="ui blue button" type="submit">Add</button>


		</form>

		<hr>
		<br>

		<div class="ui grid">

			<div style="border: thin solid black" class="ui center aligned container six wide column">
				<h3>Not completed</h3>
				{% for task in not_completed_list %}
				<div style="margin-top: 20px; border: thin solid black" class="ui left aligned container">

					<p class="ui big header"> Task: {{ task.title }}</p>
					<p style="margin: 0; font-size: 12px;">{{task.created.strftime('%d.%m.%Y - %H:%M:%S')}}</p>
					<p style="margin: 0; font-size: 12px;">{{task.updated.strftime('%d.%m.%Y - %H:%M:%S')}}</p>
					<p>Description: {{ task.desc }}</p>

					{% if task.category == "work" %}
					<span style="margin-bottom: 2px;" class="ui red label">Work</span>
					{% elif task.category == "study" %}
					<span style="margin-bottom: 2px;" class="ui purple label">Study</span>
					{% elif task.category == "hobby" %}
					<span style="margin-bottom: 2px;" class="ui green label">Hobby</span>
					{% else %}
					<span style="margin-bottom: 2px;" class="ui grey label">Others </span>
					{% endif %}

					<br>
					<hr>
					<a class="ui blue button" href="/update/{{ task.id }}">Update</a>
					<a class="ui red button" href="/delete/{{ task.id }}">Delete</a>

				</div>
				{% endfor %}
			</div>


			<div style="border: thin solid black" class="ui center aligned container six wide column">
				<h3>Completed</h3>
				{% for task in completed_list %}
				<div style="margin-top: 20px; border: thin solid black" class="ui left aligned container">

					<p class="ui big header"> Task: {{ task.title }}</p>
					<p style="margin: 0; font-size: 12px;">{{task.created.strftime('%d.%m.%Y - %H:%M:%S')}}</p>
					<p style="margin: 0; font-size: 12px;">{{task.updated.strftime('%d.%m.%Y - %H:%M:%S')}}</p>
					<p>Description: {{ task.desc }}</p>
					{% if task.category == "work" %}
					<span style="margin-bottom: 2px;" class="ui red label">Work</span>
					{% elif task.category == "study" %}
					<span style="margin-bottom: 2px;" class="ui purple label">Study</span>
					{% elif task.category == "hobby" %}
					<span style="margin-bottom: 2px;" class="ui green label">Hobby</span>
					{% else %}
					<span style="margin-bottom: 2px;" class="ui grey label">Others </span>
					{% endif %}

					<br>
					<hr>
					<a class="ui blue button" href="/update/{{ task.id }}">Update</a>
					<a class="ui red button" href="/delete/{{ task.id }}">Delete</a>
				</div>
				{% endfor %}
			</div>

		</div>



	</div>


</body>

</html>